.title {
    text-align: center;
    margin-top: 3rem;
    font-size: 64px;
}

@media screen  and (min-width: 445px) and (max-width: 620px) {
    .title {
        font-size: 54px;
    }
}

@media screen and (min-width: 405px) and (max-width: 445px) {
    .title {
        font-size: 48px;
    }
}

@media screen and (min-width: 358px) and (max-width: 405px) {
    .title {
        font-size: 42px;
    }
}

@media screen and (max-width: 358px) {
    .title {
        font-size: 36px;
    }
}