/* .LandingPage .dsc-body {
    margin-top: 4rem;
}

.LandingPage .dsc-body .image {
    position: relative;
    left: 10rem;
    height: 650px;
    width: 650px;
}

.LandingPage .dsc-body .context {
    margin-top: 10rem;
    font-size: 128px;
    text-align: center;
    float: right;
    margin-right: 10rem;
    font-family: "Open Sans";
}

.LandingPage .dsc-body .highlight {
    font-size: 84px;
} */

.LandingPage .dsc-body .image {
  margin-top: 3rem;
}

.LandingPage .dsc-body .context {
    margin-top: 15rem;
    font-size: 100px;
    text-align: center;
    font-family: "Open Sans";
}

.LandingPage .dsc-body .highlight {
    font-size: 84px;
}

.LandingPage .dsc-body .image .dsc-logo {
  width: 100%;
  margin: 0 auto;
  padding: 0 90px;
}



@media screen and (min-width: 1475px) and (max-width: 1675px) {
    .LandingPage .dsc-body .image {

    }

    .LandingPage .dsc-body .image .dsc-logo {
      padding: 0 75px;
    }

    .LandingPage .dsc-body .context {
        font-size: 105px;
        margin-top: 13rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 75px;
    }
}

@media screen and (min-width: 1275px) and (max-width: 1475px) {
    .LandingPage .dsc-body .image {
      margin-top: 2rem;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      padding: 0 60px;
    }

    .LandingPage .dsc-body .context {
        font-size: 90px;
        margin-top: 11rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 65px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1275px) {
    .LandingPage .dsc-body .image .dsc-logo {
      padding: 0 50px;
    }

    .LandingPage .dsc-body .context {
        font-size: 75px;
        margin-top: 9rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 50px;
    }
}

@media screen and (min-width: 650px) and (max-width: 992px) {
    .LandingPage .dsc-body .image {
      margin-top: 1rem;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      padding: 0 70px;
    }

    .LandingPage .dsc-body .context {
      font-size: 85px;
      margin-top: 2rem;
      margin-bottom: 5rem;
    }

    .LandingPage .dsc-body .highlight {
      font-size: 55px;
    }
}

@media screen and (min-width: 420px) and (max-width: 650px) {
    .LandingPage .dsc-body .image {
      margin-top: 0.5rem;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      padding: 0 40px;
    }

    .LandingPage .dsc-body .context {
      font-size: 60px;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .LandingPage .dsc-body .highlight {
      font-size: 42px;
    }
}

@media screen and (max-width: 420px) {
    .LandingPage .dsc-body .image .dsc-logo {
      padding: 0 20px;
    }

    .LandingPage .dsc-body .context {
      font-size: 45px;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 30px;
    }
}
