.LandingPage .dsc-body .image {
  margin-top: 4.5rem;
}

.LandingPage .dsc-body .context {
    margin-top: 15rem;
    font-size: 100px;
    text-align: center;
    font-family: "Open Sans";
}

.LandingPage .dsc-body .highlight {
    font-size: 84px;
}

.LandingPage .dsc-body .image .dsc-logo {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0 90px;
}

.LandingPage .dsc-features {
    padding: 0 40px;
    margin-top: 30px;
}

.LandingPage .dsc-features .feature-image .feature-design {
  width: 85%;
  margin: 0 auto;
}


.LandingPage .reasons {
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
  background-color: #f8f9fa !important;
}

.LandingPage .contact {
  margin-top: 80px;
}

.LandingPage .meetup {
  color: #ed1c40;
}

.LandingPage .linkedin {
  color: #1d78eb;
}

.LandingPage .mail {
  color: #f8db00;
}

.LandingPage .github {
  color: #007d00;
}

.LandingPage .link {
  margin-top: 6rem;
  height: 200px;
  margin-right: 5rem;
  width: 150px;
}


.LandingPage .dsc-features .feature-description {
  padding: 0 80px;
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #656;
}

@media screen and (min-width: 1475px) and (max-width: 1675px) {
    .LandingPage .dsc-body .image {
      margin-top: 0;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      height: 110%;
      width: 95%;
      padding: 0 75px;
    }

    .LandingPage .dsc-body .context {
        font-size: 105px;
        margin-top: 13rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 75px;
    }

    .LandingPage .dsc-features {
        padding: 0 40px;
    }

    .LandingPage .reasons {
      font-size: 65px;
    }

    .LandingPage .dsc-features .feature-description {
      padding: 4.5px 70px;
    }

    .LandingPage .dsc-features .feature-description h3 {
      font-size: 35px;
    }

    .LandingPage .link{
      margin-right: 3rem;
      width: 135px;
    }
}

@media screen and (min-width: 1275px) and (max-width: 1475px) {
    .LandingPage .dsc-body .image {
      margin-top: 0;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      height: 110%;
      width: 95%;
      padding: 0 60px;
    }

    .LandingPage .dsc-body .context {
        font-size: 90px;
        margin-top: 11rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 65px;
    }

    .LandingPage .dsc-features {
        padding: 0 40px;
    }

    .LandingPage .reasons {
      font-size: 62px;
    }

    .LandingPage .dsc-features .feature-description {
      padding: 4.5px 60px;
    }

    .LandingPage .dsc-features .feature-description h3 {
      font-size: 30px;
    }

    .LandingPage .dsc-features .feature-image .feature-design {
      width: 120%;
    }

    .LandingPage .link{
      margin-right: 2.75rem;
      width: 120px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1275px) {
    .LandingPage .dsc-body .image {
      margin-top: 0;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      width: 94%;
      height: 110%;
      padding: 0 50px;
    }

    .LandingPage .dsc-body .context {
        font-size: 75px;
        margin-top: 7.25rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 50px;
    }

    .LandingPage .dsc-features {
        padding: 0 40px;
    }

    .LandingPage .reasons {
      font-size: 55px;
    }

    .LandingPage .dsc-features .feature-description {
      padding: 4px 70px;
    }

    .LandingPage .dsc-features .feature-description h3 {
      font-size: 28px;
    }

    .LandingPage .dsc-features .feature-image .feature-design {
      width: 120%;
    }

    .LandingPage .link{
      margin-top: 3rem;
      margin-right: 2.25rem;
      width: 100px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1060px) {
    .LandingPage .dsc-features .feature-image .feature-design {
      width: 120%;
    }

    .LandingPage .link{
      margin-top: 0;
      margin-right: 2rem;
      width: 90px;
    }
}

@media screen and (max-width: 991px) {
  .LandingPage .social {
    text-align: center;
  }
}

@media screen and (min-width: 650px) and (max-width: 991px) {
    .LandingPage .dsc-body .image {
      margin-top: 1rem;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      width: 100%;
      height: auto;
      padding: 0 80px;
    }

    .LandingPage .dsc-body .context {
      font-size: 85px;
      margin-top: 2rem;
      margin-bottom: 5rem;
    }

    .LandingPage .dsc-body .highlight {
      font-size: 55px;
    }

    .LandingPage .dsc-features {
        padding: 0 40px;
    }

    .LandingPage .dsc-features .feature-image {
      padding: 0 100px;
    }

    .LandingPage .reasons {
      font-size: 56px;
    }

    .LandingPage .dsc-features .feature-description {
      padding: 5px 70px;
    }

    .LandingPage .dsc-features .feature-description h3 {
      margin: 10px 0;
      font-size: 22px;
    }

    .LandingPage .dsc-features .animate {
      display: none;
    }

    .LandingPage .link{
      margin-top: 0;
      width: 85px;
    }

    .LandingPage .Github {
      margin-right: 0;
    }
}

@media screen and (min-width: 650px) and (max-width: 710px) {
  .LandingPage .link{
    width: 75px;
  }
}

@media screen and (min-width: 420px) and (max-width: 650px) {
    .LandingPage .dsc-body .image {
      margin-top: 1rem;
    }

    .LandingPage .dsc-body .image .dsc-logo {
      width: 100%;
      height: auto;
      padding: 0 40px;
    }

    .LandingPage .dsc-body .context {
      font-size: 60px;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .LandingPage .dsc-body .highlight {
      font-size: 42px;
    }

    .LandingPage .dsc-features {
        padding: 0 40px;
    }

    .LandingPage .dsc-features .feature-image {
      padding: 0 60px;
    }

    .LandingPage .reasons {
      font-size: 36px;
    }

    .LandingPage .dsc-features .feature-description {
      padding: 3.5px 40px;
    }

    .LandingPage .dsc-features .feature-description h3 {
      margin: 10px 0;
      font-size: 22px;
    }

    .LandingPage .dsc-features .animate {
      display: none;
    }

    .LandingPage .link{
      margin-top: 0;
      margin-right: 2.25rem;
      width: 70px;
    }

    .LandingPage .Github {
      margin-right: 0;
    }
}

@media screen and (min-width: 478px) and (max-width: 498px) {
  .LandingPage .link {
    width: 65px;
  }
}

@media screen and (min-width: 435px) and (max-width: 477px) {
  .LandingPage .link {
    margin-right: 1.35rem;
    width: 65px;
  }

  .LandingPage .Github {
    margin-right: 0;
  }

}


@media screen and (max-width: 420px) {
    .LandingPage .dsc-body .image .dsc-logo {
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
    }

    .LandingPage .dsc-body .context {
      font-size: 45px;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .LandingPage .dsc-body .highlight {
        font-size: 30px;
    }

    .LandingPage .dsc-features {
        padding: 0 10px;
    }

    .LandingPage .dsc-features .feature-image {
      padding: 0 20px;
    }

    .LandingPage .reasons {
      font-size: 30px;
    }

    .LandingPage .dsc-features .feature-description {
      padding: 2px 20px;
    }

    .LandingPage .dsc-features .feature-description h3 {
      margin: 10px 0;
      font-size: 18px;
    }

    .LandingPage .dsc-features .animate {
      display: none;
    }

    .LandingPage .link{
      margin-top: 0;
      margin-right: 1.2rem;
      margin-left: 1.2rem;
      width: 25%;
    }


}
