
.AboutPage .dsc-about .image {
  margin-top: 3rem;
}

.AboutPage .dsc-about .context h1 {
    margin-top: 6.5rem;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

.AboutPage .dsc-about .context {
  padding: 0 40px;
}

.AboutPage .dsc-about .context h3 {
    margin-top: 2.5rem;
    font-size: 34px;
    font-family: 'Vollkorn', serif;
    color: #656;
}

.AboutPage .dsc-about .image .developer-gif {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}


@media screen and (min-width: 1475px) and (max-width: 1675px) {
    .AboutPage .dsc-about .image {
        margin-top: 4rem;
    }

    .AboutPage .dsc-about .image .developer-gif {
      padding: 0 30px;
    }

    .AboutPage .dsc-about .context h1 {
        font-size: 35px;
    }

    .AboutPage .dsc-about .context h3 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1275px) and (max-width: 1475px) {
    .AboutPage .dsc-about .image {
        margin-top: 5rem;
    }

    .AboutPage .dsc-about .image .developer-gif {
      padding: 0 20px;
    }

    .AboutPage .dsc-about .context h1 {
        font-size: 30px;
    }

    .AboutPage .dsc-about .context h3 {
        font-size: 25px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1275px) {
    .AboutPage .dsc-about .image {
        margin-top: 5rem;
    }

    .AboutPage .dsc-about .image .developer-gif {
      padding: 0 10px;
    }

    .AboutPage .dsc-about .context h1 {
        font-size: 30px;
    }

    .AboutPage .dsc-about .context h3 {
        font-size: 25px;
    }
}

@media screen and (min-width: 650px) and (max-width: 992px) {
    .AboutPage .dsc-about .image {
        margin-top: 2rem;
    }

    .AboutPage .dsc-about .image .developer-gif {
      padding: 0 50px;
    }

    .AboutPage .dsc-about .context {
      padding: 10px 60px;
    }

    .AboutPage .dsc-about .context h1 {
        font-size: 30px;
    }

    .AboutPage .dsc-about .context h3 {
        font-size: 25px;
    }
}

@media screen and (min-width: 420px) and (max-width: 650px) {
  .AboutPage .dsc-about .image {
      margin-top: 2rem;
  }

  .AboutPage .dsc-about .image .developer-gif {
    padding: 0 30px;
  }

  .AboutPage .dsc-about .context {
    padding: 10px 40px;
  }

  .AboutPage .dsc-about .context h1 {
      font-size: 26px;
  }

  .AboutPage .dsc-about .context h3 {
      font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
    .AboutPage .dsc-about .image {
        margin-top: 2rem;
    }

    .AboutPage .dsc-about .image .developer-gif {
      padding: 0 20px;
    }

    .AboutPage .dsc-about .context {
      padding: 10px 30px;
    }

    .AboutPage .dsc-about .context h1 {
        font-size: 23px;
    }

    .AboutPage .dsc-about .context h3 {
        font-size: 18px;
    }
}
