.TeamPage .TeamImage {
    margin-top: 3rem;
}

.jumbotron {
    background-color: transparent;
}

.container {
    max-width: 1350px;
}

.TeamImage .main-text {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
}

.TeamImage .title {
    margin-top: 4rem;
    margin-bottom: 0.75rem;
    font-size: 45px;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}

.TeamImage .sub-title {
  font-size: 30px;
  text-align: left;
  font-family: 'Vollkorn', serif;
}


.round {
    position: relative;
    border: 1px solid #666;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 50%;
    margin-left: -30px;
    bottom: 5rem;
}

.arrows {
	width: 50px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -17px;
	bottom: 15px;
}

.arrows path {
	stroke: #000;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

.timeline--wrapper {
    margin-top: 3rem;
}

.timeline {
    max-width: 1200px;
}

.entry .title:before {
    right: -4px;
}

.entry .body {
    margin: 0 0 5rem;
}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}

.item .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.item .caption {
    display: block;
    color: #767;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3rem;
}

.team-background {
  width: 350px;
}

@media screen and (min-width: 1475px) and (max-width: 1675px) {
  .TeamImage .title {
    font-size: 45px;
  }

  .TeamImage .sub-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1275px) and (max-width: 1475px) {
  .TeamImage .title {
    font-size: 40px
  }

  .TeamImage .sub-title {
    font-size: 28px;
  }

  .TeamImage .main-text {
      padding-left: 3rem;
      padding-right: 3rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1275px) {
  .TeamImage .main-text {
      margin-right: 0;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 4rem;
      padding-left: 3rem;
      padding-right: 3rem;
  }

  .TeamImage .title {
    font-size: 40px
  }

  .TeamImage .sub-title {
    font-size: 28px;
  }

}

@media screen and (max-width: 992px) {
  .TeamPage .title {
    text-align: center;
  }

  .TeamImage .sub-title {
    text-align: center;
  }

  .item .caption {
      font-size: 1.1rem;
  }
}

@media screen and (min-width: 650px) and (max-width: 992px) {
  .TeamPage .TeamImage {
      margin-top: 3rem;
      padding: 0 40px;
  }

  .TeamImage .main-text {
      margin-right: 0;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 25px 32px 10px 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .TeamImage .webm {
    margin: 0 auto;
    padding: 0 80px;
  }

  .TeamImage .title {
    font-size: 35px;
    margin-top: 0;
  }
  .TeamImage .sub-title {
    font-size: 25px;
  }
}

@media screen and (min-width: 420px) and (max-width: 650px) {
  .TeamPage .TeamImage {
      margin-top: 1rem;
      padding: 0 30px;
  }

  .TeamImage .main-text {
      margin-right: 0;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 10rem;
      padding: 25px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .TeamImage .webm {
    margin: 0 auto;
    padding: 0 30px;
    width: 70%;
  }

  .TeamImage .title {
    font-size: 35px;
    margin-top: 0;
  }

  .TeamImage .sub-title {
    font-size: 25px;
  }

  .TeamImage .team-background {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 420px) {
  .TeamPage .TeamImage {
      margin-top: 0.3rem;
      padding: 0 10px;
  }

  .TeamImage .main-text {
      margin-right: 0;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 10rem;
      padding: 25px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .TeamImage .webm {
    margin: 0 auto;
    padding: 0 20px;
    width: 80%;
  }

  .TeamImage .title {
    font-size: 35px;
    margin-top: 0;
    padding: 0 10px;
  }

  .TeamImage .sub-title {
    font-size: 22px;
    padding: 0 10px;
  }

  .TeamImage .team-background {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .TeamPage .TeamImage {
      margin-top: 0.3rem;
      padding: 0 3px;
  }

  .TeamImage .main-text {
      margin-right: 0;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 10rem;
      padding: 25px 3px 10px 3px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .TeamImage .webm {
    margin: 0 auto;
    width: 80%;
  }

  .TeamImage .title {
    font-size: 35px;
    margin-top: 0;
    padding: 0 20px;
  }

  .TeamImage .sub-title {
    font-size: 22px;
    padding: 0 20px;
  }

  .TeamImage .team-background {
    width: 100%;
    margin: 0 auto;
  }

  .round {
      bottom: 8rem;
  }

    .item .avatar {
        width: 100px;
        height: 100px;
    }
}

/* For the scroll down button */
@media screen and (min-height: 796px) and (max-height: 845px) {
    .round {
        bottom: 8rem;
    }
}

@media screen and (min-height: 764px) and (max-height: 796px) {
    .round {
        bottom: 10rem;
    }
}

@media screen and (min-height: 685px) and (max-height: 763px) {
    .round {
        bottom: 15rem;
    }
}

@media screen and (min-height: 635px) and (max-height: 684px) {
    .round {
        bottom: 18rem;
    }
}

@media screen and (min-height: 610px) and (max-height: 634px) {
    .round {
        bottom: 20rem;
    }
}

@media screen and (max-height: 609px) {
    .round {
        bottom: 25rem;
    }
}
