.navbar-brand {
    display: flex;
}

.navbar-brand>img {
    height: 2.5rem;
    width: 6rem;
}


@media screen and (max-width: 992px) {
    .navbar-brand>img {
        width: 5rem;
    }
}

@media screen and (min-width: 328px) and (max-width: 425px) {
    .navbar-brand>img {
        width: 4.5rem;
    }
}

@media screen  and (max-width: 328px) {
    .navbar-brand>img {
        width: 4rem;
    }   
}

.navbar-nav { 
    padding-left: 1rem;
}

.nav-item {
    margin-top: .5rem;
}